@media screen and (max-width:767px) {
    .service .service-text{
        margin-bottom:30px;
        text-align:center;
    }
    .what-we-do .img-fluid{
        margin-top:20px;
    }

    .pricing .card{
        width:75%;
        margin:20px auto;
    }
    .blog-content .card{
        width:75%;
        margin:0px auto;
    }
    .contact-content .contact-left{
        margin-bottom:20px;
    }



}
@media screen and (max-width:767px){
    .newsletter input{
        margin-bottom: 10px;
    }
}